@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);

/* snap scroll */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s linear;
  font-family: 'Poppins';
}
/* scroll-snap */
.scroll-container,
.scroll-area {
  height: 100vh;
  /* font-size: 60px; */
}

.scroll-container {
  overflow: hidden;
  -webkit-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
          scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0 auto;
}